/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);

  --vt-c-text-light-1: var(--vt-c-indigo);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-text: var(--vt-c-text-light-1);

}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-weight: 500;
  font-size: 2rem;
  top: -10px;
}

.main-pane {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--vt-c-white-soft);
  padding: 20px;
  min-width: 500px;
}

.basic-input-label {
  display: flex;
  flex-flow: column;
  position: relative;
  margin: 10px 0;
}

.basic-input-label b {
  margin-bottom: 4px;
}

.radio-input-label {
  display: flex;
  position: relative;
  margin: 10px 0;
  align-items: center;
}

.radio-input-label input {
  margin-right: 4px;
}

.basic-input {
  background: #FFFFFF;
  border: 2px solid var(--vt-c-divider-light-1);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 34px 12px 12px;
  cursor: text;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-text);
  position: relative;
  outline: none;
  width: 100%;
}

.basic-input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px #fff !important;
}

.basic-input:focus {
  outline: 0;
  border: 2px solid var( --color-border-hover);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
